*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

li{
    display: inline;
    padding: 2%;
}

#header{
    background-color: #262626;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
}

#body #left{
    margin-top: 20px;
    float: left;
}

#body #center{
    float: center;
}

#body #right {
    margin-top: 20px;
    float: right;
}

#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #262626;
    color: white;
    text-align: center;
}

#cornible{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
}

li a{
    text-decoration: none;
    color: white;
}

p a{
    text-decoration: none;
    color: black; 
}

span a{
    text-decoration: none;
    color: white; 
}

#footer a{
    text-decoration: none;
    color: white; 
}

img{
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 40%;
}

body{
    background: url(http://previews.123rf.com/images/lnzyx/lnzyx1308/lnzyx130800936/21358005-piles-of-corn-bonzi-material-closeup-of-photo-Stock-Photo.jpg) no-repeat center center fixed;
    background-size: cover;
}

.home-link{
    text-decoration: none;
}

.alert {
    background-color: red;
    border-radius: 15px;
    color: white;
    width: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
